@font-face {
    font-family: "FNF";
    src: url("./fnf.ttf");
}

a {
    color: white;
}

.noSelect {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.cslink {
    margin-top: 1px;
}

.cso {
    position: relative;
    bottom: 0;
    overflow: hidden;
    background-color: rgb(13, 11, 14);
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 50%;
    text-align: left;
    padding: 10px;
    z-index: 10;
    padding: 5px;
    transition: 0.3s height;
}
.cSelect {
    background-color: rgb(13, 11, 14);
    color: white;
    border: none;
    margin: 0 auto;
    padding-left: 10px;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 5px;
    border-radius: 2px;
    height: 30px;
    transition: 0.3s scale;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titlebar {
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    position: fixed;
    height: 30px;
    cursor: all-scroll;
    z-index: 1000000;
    -webkit-app-region: drag;
}

@keyframes onOpenLauncher {
    0% {
      left: -45%;
    }
    100% {
      left: 0%;
    }
}

table {
    border: 2px solid white;
    border-radius: 2px;
    padding: 5px;
    border-radius: 4px;
}
td, th {
    margin: 3px;
    padding: 7px;
}
td {
    padding: 10px;
    border-top: 3px dotted white;
}

h1 {
    font-size: 30px;
    font-family: 'FNF', sans-serif;
    color: white;
    margin-bottom: 2px;
}
.license {
    position: fixed;
    top: -20;
    left: 0;
    width: 100%;
    display: flex;
    text-align: center;
    padding-top: 30vh;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: none;
    background-color: black;
    opacity: 0.8;
    transition: 0.7s opacity;
}

.licenseContents {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
}

.container {
    animation: 1.5s cubic-bezier(0.83, 0, 0.17, 1) 0s 1 onOpenLauncher;
    display: flex;
    position: fixed;
    top: 0;
    width: 1000px;
    height: 100vh;
    transition: left 0.5s;
}
.container.loaded {
    left: 0;
}
.settingsBtn {
    width: 43px;
    height: 45px;
    border: none;
    border-radius: 45px;
    display: flex;
    justify-content: left;    
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    padding-top: 6px;
    transition: 0.5s width;
    overflow: hidden;
}
.settingsBtn:hover {
    width: 145px;
    cursor: pointer;
}

@font-face {
    font-family: 'FNF 2';
    src: url("./fnf-f2.ttf");
}
.btn {
    min-width: 110px;
    font-weight: bold;
    height: 25px;
    font-size: 15px;
    border-radius: 2px;
    border: black;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s scale;
}
.ver {
    position: fixed;
    bottom: 0px;
    color: white;
    left: 15px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.settings {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.btn:hover {
    scale: 1.05;
    background: linear-gradient(to bottom, rgb(116, 116, 116), rgb(59, 59, 59));
    color: white;
    cursor: pointer;
}
/*
#bgvE {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
*/
@keyframes blurBG {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 1000px 0px;
    }
}
.blur:not(.konami) {
    background-image: url("./gridLoop.png");
    filter: blur(5px);
    position: fixed;
    width: 140vw;
    transform: rotate(-4deg);
    height: 140vh;
    top: -20vh;
    left: -3vw;
    animation: blurBG 60s linear infinite;
}
.blur.konami {
    background-image: url("./gridLoop.png");
    filter: hue-rotate(90deg);
    position: fixed;
    width: 140vw;
    transform: rotate(-4deg);
    height: 140vh;
    top: -20vh;
    left: -3vw;
}
.top {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    background-color: rgba(37, 30, 39,0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
h1,h2,h3,h4,h5,h6 {
    font-family: "FNF";
}

body {
    margin: 0;
    overflow: hidden;
}