@font-face {
    font-family: "FNF";
    src: url("./fnf.ttf");
}

a {
    color: white;
}

@keyframes onOpenLauncher {
    0% {
      left: -45%;
    }
    100% {
      left: 0%;
    }
}

h1 {
    font-size: 30px;
    font-family: 'FNF', sans-serif;
    color: white;
    margin-bottom: 2px;
}
.license {
    position: fixed;
    top: -20;
    left: 0;
    width: 100%;
    display: flex;
    text-align: center;
    padding-top: 30vh;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: none;
    background-color: black;
    opacity: 0;
    transition: 0.7s opacity;
}
.license.open {
    opacity: 0.8;
}
.licenseContents {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
}

.container {
    animation: 0.9s ease-in-out 0s 1 onOpenLauncher;
    display: flex;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 1000px;
    transition: left 0.5s;
}

.container.loaded {
    left: 0;
}

.settingsBtn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 45px;
    border: 2px solid black;
    padding: 5px;
    padding-top: 6px;
    transition: 0.5s scale;
}
.settingsBtn:hover {
    scale: 1.1;
    cursor: pointer;
}

.btn {
    min-width: 110px;
    font-weight: bold;
    height: 25px;
    font-size: 15px;
    border-radius: 2px;
    border: black;
    font-family: 'FNF', sans-serif;
    transition: 0.3s scale;
}
.ver {
    position: fixed;
    bottom: 0px;
    color: white;
    left: 15px;
    font-size: 12px;
    font-family: 'Verdana', sans-serif;
}
.settings {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.btn:hover {
    scale: 1.05;
    background: linear-gradient(to bottom, rgb(116, 116, 116), rgb(59, 59, 59));
    color: white;
    cursor: pointer;
}
#bgvE {
    width: 100%;
    height: 100%;
}
.bgvE {
    width: 100%;
    height: 100%;
}
.top {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    background-color: rgb(37, 30, 39);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1,h2,h3,h4,h5,h6 {
    font-family: "FNF";
}

body {
    margin: 0;
    overflow: hidden;
}