@font-face {
    font-family: "FNF";
    src: url("./fnf.ttf");
}

body {
    background-image: url("./stageback.png");
    margin: 0;
    margin-left: 10px;
    font-family: "verdana";
    padding: 0px;
    overflow-x: hidden;
    color: white;
}

button.usb {
    background-color: transparent;
    font-family: "FNF";
    color: white;
    font-size: 20px;
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Verdana";
    font-size: 14px;
    border: none;
    border-radius: 4px;
    padding: 6px;
    transition: scale 0.5s, transform 0.5s;
}

button:hover {
    cursor: pointer;
    scale: 1.1;
    transform: rotate(2deg);
}

button:active {
    scale: 1.3;
}

@keyframes areYouSureTransition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}


.areyousure {
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "FNF";
    display: flex;
    text-align: center;
    padding-top: 20vh;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: none;
    color: white;
    background-color: black;
    animation-direction: normal;
    opacity: 0.8;
    animation: areYouSureTransition 0.8s ease-in-out;
}

.container {
    margin-left: 5px;
}

.en {
    margin-left: 10px;
    margin-right: 10px;
}

.erb {
    width: 25px;
    border-radius: 25px;
    border: none;
    background-color: red;
    color: white;
    font-family: "FNF";
}

.install {
    background-color: black;
    opacity: 0.8;
    margin-right: 15px;
    padding-right: 15px;
    font-family: "FNF";
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #161116;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #6f5872;
}
