@font-face {
    font-family: "FNF";
    src: url("./fnf.ttf");
}

.erb {
    border: none !important;
}

a { color: white; }

body {
    background-color: rgb(28, 20, 29);
    margin: 0;
    font-family: "Montserrat";
    padding: 0px;
    overflow-x: hidden;
    color: white;
}

button.usb {
    background-color: transparent;
    font-family: "FNF";
    color: white;
    font-size: 20px;
}

.close {
    background-color: transparent;
    font-family: "FNF";
    color: white;
    border: none;
    font-size: 20px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    transition: 0.5s background-color;
}

.close:hover {
    background-color: red;
}

.titleBar {
    background-color: rgb(28, 20, 29);
    color: white;
    font-family: "FNF";
    font-size: 20px;
    padding: 10px;
    padding-left: 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

button:not(.close) {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Montserrat";
    font-size: 14px;
    min-width: 30px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover:not(.close) {
    cursor: pointer;
    color: black;
    background-color: white;
}

button:active {
    scale: 1.05;
}

@keyframes areYouSureTransition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

input {
    background-color: #514053;
    color: white;
    width: 95%;
    height: 20px;
    text-align: left;
    border: none;
    padding: 6px;
    padding-left: 3px;
    margin-right: 10px;
}

.areyousure h1 {
    font-size: 30px;
}
.areyousure {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "FNF";
    display: flex;
    text-align: center;
    padding-top: 20vh;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: none;
    color: white;
    background-color: black;
    animation-direction: normal;
    opacity: 0.8;
    animation: areYouSureTransition 0.8s ease-in-out;
}

table {
    border-collapse: collapse;
    border-radius: 2px;
    width: 95%;
    text-align: center;
    border: 1px solid white;
}

td, th {
    padding: 10px;
    border: 1px solid white;
}

.container {
    margin-left: 25px;
}


.en {
    margin-left: 10px;
    margin-right: 10px;
}

@font-face {
    font-family: "FNF2";
    src: url("./fnf-f2.ttf");
}

.install {
    background-color: black;
    border: 1px solid black;
    opacity: 0.8;
    margin-right: 15px;
    padding-right: 15px;
    font-family: "FNF2";
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s opacity, 0.2s border;
}

.install:hover {
    opacity: 1;
    border: 1px solid white;
}

.prototype {
    position: fixed;
    right: 5;
    top: 5;
    opacity: 0.5;
    color: white;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0); /* Change the color here */
    border-radius: 25%;
    cursor: pointer;
}

.volume {
    width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #161116;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #6f5872;
}
